<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<body>
  <form>
    <th:block th:fragment="input (label, name, type)">
      <div class="form-floating mb-3">
        <input th:if="${type == 'text'}" th:field="*{__${name}__}"
          th:class="${#fields.hasErrors(name)} ? 'form-control is-invalid' : 'form-control'"
          type="text" th:placeholder="${label}" th:id="${name}" />
        <input th:if="${type == 'date'}" th:field="*{__${name}__}"
          th:class="${#fields.hasErrors(name)} ? 'form-control is-invalid' : 'form-control'"
          type="date" th:placeholder="${label}" th:id="${name}" />
        <input th:if="${type == 'number'}" th:field="*{__${name}__}"
          th:class="${#fields.hasErrors(name)} ? 'form-control is-invalid' : 'form-control'"
          type="number" th:placeholder="${label}" th:id="${name}" />
        <label th:for="${name}" th:text="${label}">Label</label>
        <div class="invalid-feedback" th:if="${#fields.hasErrors(name)}" th:errors="*{__${name}__}">Error</div>
      </div>
    </th:block>
  </form>
</body>

</html>
