<!DOCTYPE html>

<html th:fragment="layout (template, menu)" xmlns:th="https://www.thymeleaf.org">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="#{layoutTitle}">Northwind Mutual :: Car Quote Generator</title>
  <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/css/northwind.css}" />

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark sticky-top" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center gap-2" th:href="@{/}">
        <i class="bi bi-shield-check fs-4"></i>
        <span>Northwind Mutual</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:remove="all">

          <li th:fragment="menuItem (link,active,title,icon,text)" th:class="nav-item">
            <a th:class="${active==menu ? 'nav-link active' : 'nav-link'}" th:href="@{__${link}__}" th:title="${title}">
              <i th:class="'bi bi-'+${icon}+' me-1'"></i>
              <span th:text="${text}">Template</span>
            </a>
          </li>

        </ul>

        <ul class="nav navbar-nav ms-auto">

          <li th:replace="~{::menuItem ('/','home','home page','house-door',#{home})}">
            <i class="bi bi-house-door me-1" aria-hidden="true"></i>
            <span th:text="#{home}">Home</span>
          </li>

          <li th:replace="~{::menuItem ('/drivers/find','drivers','find a driver','search',#{findDrivers})}">
            <i class="bi bi-search me-1" aria-hidden="true"></i>
            <span th:text="#{findDrivers}">Find Drivers</span>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <main class="container nm-container">

    <th:block th:insert="${template}" />

  </main>

  <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
